@font-face {
    font-family: "Nexus";
    src: url('../fonts/Nexus/Nexus.ttf');
}

@font-face {
    font-family: "MontBold";
    src: url('../fonts/MontBold/MontBold.ttf');
}

.fa-circle-notch {
    font-size: 20px;
    color: #ffffff;
}

.fa-spinner {
    font-size: 20px;
    color: #ffffff;
}

.text-error {
    overflow: hidden;
    height: 0;
    opacity: 0;
    font-size: 12px;
    color: rgba(205, 2, 2, 0.71);
    font-style: italic;
}

/*.form-error-message-name {*/
    /*overflow: hidden;*/
    /*height: 0;*/
    /*opacity: 0;*/
    /*font-size: 12px;*/
    /*color: rgba(205, 2, 2, 0.71);*/
    /*font-style: italic;*/
/*}*/

/*.form-error-message-email {*/
    /*overflow: hidden;*/
    /*height: 0;*/
    /*opacity: 0;*/
    /*font-size: 12px;*/
    /*color: rgba(205, 2, 2, 0.71);*/
    /*font-style: italic;*/
/*}*/

/*.form-error-message-text {*/
    /*overflow: hidden;*/
    /*height: 0;*/
    /*opacity: 0;*/
    /*font-size: 12px;*/
    /*color: rgba(205, 2, 2, 0.71);*/
    /*font-style: italic;*/
    /*margin-bottom: -10px;*/
/*}*/

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none
}

html {
    height: 100%;
}

body {
    font-size: 16px;
    min-width: 320px;
    position: relative;
    line-height: 1.6;
    font-family: "RobotoRegular", sans-serif;
    overflow-x: hidden;
    height: 100%;
    margin:0;
    padding: 0;
}

#wrapp {
    min-height: 100%
}

main {
    padding-bottom: 100px;
}

.hidden {
    display: none;
}

pre {
    background-color: #f7f9ff85;
    padding: 20px;
    border: 1px solid #f0f0f1;
    border-radius: 2px;
}



/* HEADER */
header {
    background-color: #474747;
}

header .header-row {
    padding: 18px 0;
}

header .header-row .logo {
    margin-left: 20px;
}

header .header-row .logo a {
    text-decoration: none;
}

header .header-row .logo h2 {
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: "MontBold", sans-serif;
    font-size: 26px;
}

/*header .header-row .btn-search {*/
    /*float: right;*/
/*}*/

/*header .header-row .btn-search a {*/
    /*outline: none;*/
/*}*/

/*header .header-row .btn-search .fa-search {*/
    /*color: #fff;*/
    /*font-size: 25px;*/
    /*padding-top: 7px;*/
/*}*/

.link-back {
    margin: 20px 0;
}

.link-back a {
    color: #909090;
    text-decoration: none;
}

.link-back a:hover {
    color: #757575;
}

.link-back a .fa-chevron-left {
    margin-right: 8px;
}


/* HOME PAGE */
.home-content-articles {
    margin: 30px 0;
}

.home-article-item {
    margin-bottom: 30px;
}

.home-article-item a {
    color: #7c99b3;
}

.home-article-item h2 {
    color: #5b7fa0;
    line-height: 32px;
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 28px;
}

.home-article-item .home-article-item-bread-crumb {
    color: #b9b9b9;
    font-size: 14px;
}

.home-article-item .home-article-item-bread-crumb span {
    padding-right: 30px;
    padding-left: 7px;
}

.home-article-item .home-article-item-bread-crumb span:last-child {
    padding-right: 0;
}


/* TOP BREAD CRUMB (PAGINATION & TOTAL ITEMS) */
.top-bread-crumb {
    margin: 20px 0 50px 0;
    font-family: sans-serif;
}

.top-bread-crumb .top-pagination-bread-crumb {
    color: #888888;
    float: left;
}

.top-bread-crumb .top-pagination-bread-crumb span {
    padding: 0 10px;
    font-weight: bold;
}

.top-bread-crumb .top-pagination-bread-crumb .fa-chevron-right {
    font-size: 12px;
}

.top-bread-crumb .total-articles-bread-crumb {
    float: right;
    padding: 2px 15px;
    border-radius: 2px;
    border: 1px solid #e6e6e6;
    color: #929292;
    font-size: 16px;
    background-color: #fbfbfb;
}

.top-bread-crumb .total-articles-bread-crumb span {
    font-family: sans-serif;
    font-weight: bold;
}


/* TOP BREAD CRUMB (POSITION ELEMENTS)*/
.position-elements-bread-crumb {
    display: none;
    margin: 10px 0;
    float: right;
    border: 1px solid #F2E1AF;
    padding: 5px 10px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-size: 20px;
    color: #afafaf;
}

.position-elements-bread-crumb .fa {
    padding: 0 5px;
}

.position-elements-bread-crumb .fa:hover {
    cursor: pointer
}

.position-elements-bread-crumb .fa-th-large:hover {
    color: #353535;
}

.position-elements-bread-crumb .fa-align-justify:hover {
    color: #353535;
}

.position-elements-bread-crumb .active {
    color: #353535;
}

/* PAGINATION */
.pagination {
    margin: 40px 0
}

.pagination a {
    text-decoration: none;
    padding: 12px 20px;
    background-color: #ffe00040;
    border-radius: 2px;
    color: rgba(111, 111, 111, 0.82);
    font-weight: bold;
    margin-right: 5px;
}

.pagination a:hover {
    background-color: rgba(253, 219, 0, 0.62);
    color: #fff;
}

.pagination a.btn-active-pagination {
    background-color: rgba(253, 219, 0, 0.62);
    color: #fff;
}

/* FOOTER */
footer {
    background-color: #595959
}

footer p {
    text-align: center;
    padding: 12px 0;
    color: #a0a0a0;
}




/* ARTICLE PAGE */
.article {
    margin-top: 20px;
}

.article h1 {
    color: #5b7fa0;
    line-height: 40px;
    font-size: 30px;
    font-weight: bold;
}

.article .article-item-bread-crumb {
    padding: 10px 0;
    color: #b9b9b9;
    font-size: 16px;
}

.article .article-item-bread-crumb .fa-eye,
.article .article-item-bread-crumb .fa-clock {
    margin-right: 10px;
}

.article .article-item-bread-crumb span {
    padding-right: 30px;
}

.article .article-item-bread-crumb span:last-child {
    padding-right: 0;
}

/* COMMENTS */
.comments {
    margin-top: 50px;
}

.title-comments {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 15px;
}

.title-comments h6 {
    font-size: 20px;
    color: #616161;
    margin-top: 6px;
}

.title-comments h6 .fa-comments {
    margin-left: 10px;
    margin-right: 5px;
    color: #b1b1b1;
}

.title-comments h6 span.count {
    color: #b1b1b1;
}

.title-comments h6 span.title {
    color: #616161;
    font-weight: bold;
}

.title-comments button {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 255, 255);
    outline: none;
    border-radius: 2px;
    color: grey;
    padding: 3px 15px;
    font-size: 14px;
    float: right;
    font-weight: bold;
}

.title-comments button:hover {
    cursor: pointer;
    border: 1px solid rgb(70, 70, 70);
    background-color: rgb(70, 70, 70);
    color: #ffffff;
}

.title-comments .new-comment {
    display: none;
    margin-top: 10px;
    width: 100%;
}

.title-comments .new-comment .fa-times-circle {
    display: none;
    color: #cecece;
    font-size: 19px;
    margin-left: -35px;
    margin-bottom: -2px;
}

.title-comments .new-comment .fa-times-circle:hover {
    color: #a2a2a2;
    cursor: pointer;
}

.title-comments .new-comment form input[type='text'],
.title-comments .new-comment form input[type='email'] {
    width: 60%;
    margin-bottom: 10px;
    border: 1px solid rgba(33, 33, 33, 0.33);
    padding: 8px 15px;
    border-radius: 2px;
    font-size: 14px;
}

.title-comments .new-comment form input[type='email']::-webkit-input-placeholder,
.title-comments .new-comment form input[type='text']::-webkit-input-placeholder {
    color: #a2a2a2;
}

.title-comments .new-comment form input[type='submit'] {
    background-color: rgb(100, 134, 165);
    font-size: 14px;
    padding: 5px 25px;
    color: #ffffff;
    border-radius: 2px;
    border: none;
    font-weight: bold;
}

.title-comments .new-comment form input[type='submit']:hover {
    background-color: rgb(74, 101, 125);
    color: #fff;
    cursor: pointer;
}

.comments-content {
    margin-top: 10px;
}

.comments-content .comments-content-item {
    margin-bottom: 20px;
}

.comments-content .comments-content-item img {
    width: 45px;
    border-radius: 3px;
    margin-right: 10px;
}

.comments-content .comments-content-item span.comment-title-user-name {
    font-weight: bold;
}

.comments-content .comments-content-item .fa-ellipsis-h {
    margin: 0 10px;
    color: #cacaca;
}

.comments-content .comments-content-item span.comment-time {
    color: #858585;
}

.comments-content .comments-content-item p {
    font-size: 14px;
    margin-top: 10px;
    color: #4d4d4d;
}

.comments-content .btn-primary {
    border: none;
    background-color: rgb(51, 105, 136);
    width: 100%;
    color: #f7f7f7;
    padding-bottom: 7px;
    padding-top: 7px;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}

.comments-content .btn-primary:hover {
    background-color: rgb(43, 85, 113);
    cursor: pointer;
}

.comments-content .notice-no-comment {
    font-weight: bold;
    color: #a7a7a7;
}

.notice-new-comment-success {
    display: none;
    background-color: #fafaff;
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 2px;
    border: 1px solid #eaeaea;
}

.notice-new-comment-success p {
    color: #636363;
    /*font-weight: bold;*/
    font-size: 14px;
}

.notice-new-comment-success p span {
    color: #e60000;
    font-weight: bold;
}

.notice-new-comment-error {
    display: none;
    background-color: #ffcccc;
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 2px;
    border: 1px solid #f2c0c0;
    position: relative;
}

.notice-new-comment-error .fa-exclamation-circle {
    font-size: 20px;
    position: absolute;
    top: 18px;
    color: #961e1e;
}

.notice-new-comment-error p {
    color: #c61211;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
    padding-left: 30px;
}

/* REGISTRATION PAGE */

.verification-notice {
    margin: 20px 0;
}

.verification-notice p {
    margin-bottom: 20px;
}

.verification-notice a {
    color: #1495ca;
}

/* 404 PAGE NOT FOUND */
.no-page {
    text-align: center;
    margin-top: 100px;
}

.no-page h1 {
    font-size: 75px;
}

.no-page p {
    font-size: 30px;
    color: #989898;
}

