<h3 style="font-size: 20px">PhpStore приветствует Вас!</h3>

<p>Здравствуйте, {{ userName }}! Вы практически закончили регистрацию, остался всего один шаг!</p>

<p>Для подтверждения Вашего почтового адреса перейдите по ссылке ниже.</p>

<p style="text-align: center; margin: 26px 0">
    <a href="{{ linkVerification }}" style="
    text-decoration: none;
    background-color: #2fa9d8;
    padding: 8px 24px;
    border-radius: 2px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 14px"
    onmouseover="this.style.backgroundColor='#2a8ab4';"
    onmouseout="this.style.backgroundColor='#2fa9d8';">Подтвердить email
    </a>
</p>

<p>Если Вы не оставляли Ваш email адрес на сайте phpstore.ua, не нажимайте на ссылку потверждения и проигнорируйте это письмо.</p>

<p>С уважением, команда PhpStore</p>