{% extends 'admin/base.html.twig' %}

{% block classbody %}class="admin-home"{% endblock %}

{% block header %}{% endblock %}

{% block body %}
    <div class="admin-logo"><h3>PhpStore</h3><span>knowledge storage</span></div>

    <div class="admin-login">
        <h6>Admin Area</h6>
        <form action="{{ path('admin-auth') }}" method="post">
            <ul>
                {% for message in app.flashes('notice') %}
                <li class="li-notice">
                    <div class="flash-notice">{{ message }}</div>
                </li>
                {% endfor %}
                <li>
                    <input type="text" name="login" placeholder="Enter your login"/>
                </li>
                <li>
                    <input type="password" name="password" placeholder="Enter your pass"/>
                </li>
                <li>
                    <input type="submit" value="Login"/>
                </li>
            </ul>
        </form>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}